/* Classnames go in this file */

/* main styling */
.primary_button {
  background-color: var(--vermillion);
  border: solid 2px var(--vermillion);
}

.primary_button:hover {
  background-color: transparent;
  color: var(--vermillion);
}

.continue_button {
  background-color: var(--vermillion);
  padding: 10px 100px 10px 100px;
}

/* other styling */
.homepage_midway {
  position: absolute;
  bottom: 0px;
  left: 20px;

  font-size: clamp(4rem, 8vw + 2rem, 8rem);
}

/* mobile media query */
/* @media (max-width: 767px) {
} */
